extends layout

block content
  body.has-fixed-sidenav
    header
      .navbar-fixed
        nav.navbar
          .nav-wrapper
            a.sidenav-trigger.left(href='#!', data-target='sidenav-left')
              i.material-icons.black-text menu
      ul#sidenav-left.sidenav.sidenav-fixed
        li
          a.logo-container(href='/').white-text
            | Money Tracker
            i.material-icons.left.white-text attach_money
        li.no-padding
          ul.collapsible.collapsible-accordion
            li.bold.waves-effect.active
              a.collapsible-header.white-text
                | Yatırım Araçları
                i.material-icons.chevron.white-text chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect.active(href='/').white-text
                      | Döviz
                      i.material-icons.white-text money
                  li
                    a.waves-effect(href='/crypto').white-text
                      | KriptoPara
                      i.material-icons.white-text timeline
                  li
                    a.waves-effect(href='/stockmarket').white-text
                      | Borsa & Altın
                      i.material-icons.white-text swap_vert
            li.bold.waves-effect
              a.collapsible-header.white-text
                | Hesap İşlemleri
                i.material-icons.chevron.white-text chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect(href='/login').white-text
                      | Giriş
                      i.material-icons.white-text person
                  li
                    a.waves-effect(href='/register').white-text
                      | Kayıt Ol
                      i.material-icons.white-text how_to_reg
    main
      .container
        .row
          .col.s10.offset-s1
            .card.card-login
              .card-content
                span.card-title Hesap Girişi
                form(method='POST' action='/login')
                  .input-field
                    input#username.validate(type='text', name='email')
                    label(for='username') E-posta
                  .input-field
                    input#password.validate(type='password', name='pass')
                    label(for='password') Şifre
                  a(href='#!') Şifremi Unuttum
                  br
                  br
                  div
                    input.btn.right(type='submit', value='Giriş')
                    a.btn-flat(href='#!')
    footer.page-footer
      .container
        .row
          .col.s6.m3
            h5 About
            ul
              li
                a(href='#!') Blog
              li
                a(href='#!') Pricing
              li
                a(href='#!') Docs
          .col.s6.m3
            h5 Connect
            ul
              li
                a(href='#!') Community
              li
                a(href='#!') Subscribe
              li
                a(href='#!') Email
          .col.s6.m3
            h5 Contact
            ul
              li
                a(href='#!') Twitter
              li
                a(href='#!') Facebook
              li
                a(href='#!') Github
    





