.container
    nav.blue.darken-4
        .nav-wrapper
        a(href='/') Money Track
        a.sidenav-trigger(href='#', data-target='mobile-demo')
            i.material-icons menu
        ul.right.hide-on-med-and-down
            li
            a(href='/') Döviz
            li
            a(href='/crypto') KriptoPara
            li
            a(href='collapsible.html') Borsa
            li
            a(href='mobile.html') Giriş
    ul#mobile-demo.sidenav
        li
        a(href='/') Döviz
        li
        a(href='/crypto') KriptoPara
        li
        a(href='collapsible.html') Borsa
        li
        a(href='mobile.html') Giriş
    .header
        h5 Money Track ile tüm yatırım araçlarını tek noktadan takip edin...
        a.waves-effect.waves-light.btn.blue.darken-4(href='#') Giriş