nav.blue.darken-4
    .nav-wrapper
        a(href='/') Money Track
        a.sidenav-trigger(href='#', data-target='mobile-demo')
            i.material-icons menu
        ul.right.hide-on-med-and-down
            li
                a(href='/') Döviz
            li
                a(href='/crypto') KriptoPara
            li
                a(href='/stockmarket') Borsa-Altın
            li
                a(href='login') Giriş
    ul#mobile-demo.sidenav
        li
            a(href='/') Döviz
        li
            a(href='/crypto') KriptoPara
        li
            a(href='/stockmarket') Borsa-Altın
        li
            a(href='/login') Giriş
