extends layout

block content

  body.has-fixed-sidenav
    header
      .navbar-fixed
        nav.navbar.white
          .nav-wrapper
            a.sidenav-trigger.left(href='#!', data-target='sidenav-left')
              i.material-icons.black-text menu
      ul#sidenav-left.sidenav.sidenav-fixed
        li
          a.logo-container(href='/')
            | Money Tracker
            i.material-icons.left attach_money
        li.no-padding
          ul.collapsible.collapsible-accordion
            li.bold.waves-effect.active
              a.collapsible-header
                | İşlemler
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect.active(href='/profile')
                      | Kokpit
                      i.material-icons dashboard
                  li
                    a.waves-effect(href='/newTrans')
                      | Yeni İşlem 
                      i.material-icons loop
                  li
                    a.waves-effect(href='/historys')
                      | İşlem Geçmişi 
                      i.material-icons assignment
            li.bold.waves-effect
              a.collapsible-header
                | Hesap Ayarları 
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect(href='/setting')
                      | Ayarlar 
                      i.material-icons settings_applications
                  li
                    a.waves-effect(href='/logout')
                      | Çıkış
                      i.material-icons exit_to_app
    main
     
    footer.page-footer
      .container
        .row
          .col.s6.m3
            h5 About
            ul
              li
                a(href='#!') Blog
              li
                a(href='#!') Pricing
              li
                a(href='#!') Docs
          .col.s6.m3
            h5 Connect
            ul
              li
                a(href='#!') Community
              li
                a(href='#!') Subscribe
              li
                a(href='#!') Email
          .col.s6.m3
            h5 Contact
            ul
              li
                a(href='#!') Twitter
              li
                a(href='#!') Facebook
              li
                a(href='#!') Github









