extends layout

block content
  body.has-fixed-sidenav
    header
      .navbar-fixed
        nav.navbar.white
          .nav-wrapper
            a.sidenav-trigger.left(href='#!', data-target='sidenav-left')
              i.material-icons.black-text menu
      ul#sidenav-left.sidenav.sidenav-fixed
        li
          a.logo-container(href='/')
            | Money Tracker
            i.material-icons.left attach_money
        li.no-padding
          ul.collapsible.collapsible-accordion
            li.bold.waves-effect.active
              a.collapsible-header
                | Yatırım Araçları
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect.active(href='/')
                      | Döviz
                      i.material-icons money
                  li
                    a.waves-effect(href='/crypto')
                      | KriptoPara
                      i.material-icons timeline
                  li
                    a.waves-effect(href='/stockmarket')
                      | Borsa & Altın
                      i.material-icons swap_vert
            li.bold.waves-effect
              a.collapsible-header
                | Hesap İşlemleri
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect(href='/login')
                      | Giriş
                      i.material-icons person
                  li
                    a.waves-effect(href='/register')
                      | Kayıt Ol
                      i.material-icons how_to_reg
    main
      .container
        .row
          .col.s8.offset-s2
            .card.card-login
              .card-content
                span.card-title Hesap Açılışı
                form(method='POST' action='/register')
                    .input-field
                        input#username.validate(type='text', name='ad')
                        label(for='ad') Ad
                    .input-field
                        input#username.validate(type='text', name='soyad')
                        label(for='soyad') Soyad                        
                    .input-field
                        input#username.validate(type='text', name='email')
                        label(for='username') E-posta
                    .input-field
                        input#password.validate(type='password', name='pass')
                        label(for='password') Şifre
                    br
                    br
                    div
                        input.btn.right(type='submit', value='Hesabı Oluştur')
                        a.btn-flat(href='#!') 
    footer.page-footer
      .container
        .row
          .col.s6.m3
            h5 About
            ul
              li
                a(href='#!') Blog
              li
                a(href='#!') Pricing
              li
                a(href='#!') Docs
          .col.s6.m3
            h5 Connect
            ul
              li
                a(href='#!') Community
              li
                a(href='#!') Subscribe
              li
                a(href='#!') Email
          .col.s6.m3
            h5 Contact
            ul
              li
                a(href='#!') Twitter
              li
                a(href='#!') Facebook
              li
                a(href='#!') Github
    










