doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='msapplication-tap-highlight', content='no')
        meta(name='description', content='')
        title Home - Admin
        link(href='https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css', rel='stylesheet')
        link(href='stylesheets/jqvmap.css', rel='stylesheet')
        link(href='stylesheets/flag-icon.min.css', rel='stylesheet')
        // Fullcalendar
        link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css', rel='stylesheet')
        // Materialize
        link(href='stylesheets/admin-materialize.min.css', rel='stylesheet')
        // Material Icons
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        title Money Tracker
    body
        block content
        footer.page-footer
        .container
            .row
            .col.s6.m3
                h5 About
                ul
                li
                    a(href='#!') Blog
                li
                    a(href='#!') Pricing
                li
                    a(href='#!') Docs
            .col.s6.m3
                h5 Connect
                ul
                li
                    a(href='#!') Community
                li
                    a(href='#!') Subscribe
                li
                    a(href='#!') Email
            .col.s6.m3
                h5 Contact
                ul
                li
                    a(href='#!') Twitter
                li
                    a(href='#!') Facebook
                li
                    a(href='#!') Github
    // Scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/materialize.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js')
    // External libraries
    // jqvmap
    script(type='text/javascript', src='/javascripts/jquery.vmap.min.js')
    script(type='text/javascript', src='/javascripts/jquery.vmap.world.js', charset='utf-8')
    script(type='text/javascript', src='/javascripts/jquery.vmap.sampledata.js')
    // ChartJS
    script(type='text/javascript', src='/javascripts/Chart.js')
    script(type='text/javascript', src='/javascripts/Chart.Financial.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js')
    script(src='/javascripts/imagesloaded.pkgd.min.js')
    script(src='/javascripts/masonry.pkgd.min.js')
    // Initialization script
    script(src='/javascripts/admin.js')
    script(src='/javascripts/dashboard.js')
    script(src='/javascripts/table-custom-elements.js')
    script(src='/javascripts/init.js')


    