* {
    margin: 0;
    padding: 0;
    }


/* ===================================== 
   Grid Layout
======================================== */

.container {
    height: 100vh;
    /* display: grid;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 140px minmax(200px, 1fr) 350px 100px; 
    grid-gap: 10px;
  }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
}
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    min-height: 100vh

  }
}
/* .header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
} */

.buysell {
  flex: 1;
  padding: 20px;
}

.dashboard{
  background-color: #f90;
  padding: 20px;
}
 
.transaction {
  padding: 20px;
  background-color: #936;
  grid-column: 1/-1
}

/* .footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #690;
  color: white;
} */


  
  .nav {
    grid-column: 1 / -1;
  } 
  .header {
    grid-column: 1 / -1;
  }



  .login {
    grid-column: 1/-1;
    background-color: #40c4ff ;
    margin-top : 75px;
    height: 450px;
    border-radius: 10px;
    width: 450px
  }
  
  .main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:5px
  }
  
  .tablo {
    grid-column: 1 / -1;
  }
  
  .footer {
    grid-column: 1 / -1;
  }
  
  body {
      background-color: lightgray
  }

  .card-content {
      text-align: center
  }

/* ===================================== 
 Navbar
======================================== */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #e9faff;
  }
  
  .nav {
    height: 70px;
    width: 100%;
    background-color: #063cc4;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }



/* Login Style */

.limiter {
  width: 100%;
  margin: 0px auto;
}

div {
  display: block;
}

.container-login100 {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgb(233, 250, 255);
}

.wrap-login100 {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px 0px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

.p-r-55 {
  padding-right: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-t-65 {
  padding-top: 65px;
}

.login100-form {
  width: 100%;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-image: initial;
}

.focus-input100-1, .focus-input100-2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.login100-form-title {
  display: block;

  font-size: 30px;
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: center;
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(66, 114, 215);
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0px 20px;
  transition: all 0.4s ease 0s;
  margin-top: 20px
}

.text-center {
  text-align: center;
}

.p-t-45 {
  padding-top: 45px;
}

.p-b-33 {
  padding-bottom: 33px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
}

input.input100 {
  height: 68px;
  padding: 0 25px 0 25px;
  border: none;
}

input {
  outline: none;
  border: none;
 
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border: none
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  padding: 0 25px 0 25px;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}


element.style {
}
.blue.darken-4 {
    background-color: #0D47A1 !important;
}
.blue {
    background-color: #2196F3 !important;
}

.login-navbar {
  width: 70%;
  margin: 0 auto; 
}
